<div class="navbar nav">
    <!-- Button trigger modal -->
    <button class="nav-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <p class="navbar-logo">LOCOM</p>
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
          <p class="modal-title">Referral Terms</p>
          <p class="modal-paragraph">
            Referral marketing
Any technique that a company uses to encourage people to tell others about their products and services counts as referral marketing. So, referral marketing is not limited to the traditional customer referral program, but also includes techniques such as influencer marketing, brand ambassadors, affiliate marketing, and relationship marketing.
Referral program / customer referral program / refer-a-friend program
A referral program is a formalized system that a company uses to encourage loyal customers to share their company with friends. (It is also known as a customer referral program or refer-a-friend.) Referral programs simplify the sharing process, and most give customers a reward for sharing.
Customer advocacy
Customer advocacy occurs when a loyal, satisfied customer spreads the word about a product or service they love, sometimes without incentives or prompting.
Word-of-mouth marketing
Word-of-mouth marketing occurs whenever customers positively share a brand with their friends, family, or peers, either online or offline. Since word-of-mouth marketing occurs organically, it can be difficult to control. But referral programs can help brands increase word-of-mouth, by incentivizing this sharing.
Referral software
Referral software automates and simplifies the referral process for both brands and the customers they serve. It automates a brand’s referral program from promotion to reward distribution, makes it easy for customers to share the program with the click of a button, keeps the information of all referrers and friends in one place, and tracks analytics that are key to the success of the program (including referrals sent and new customers created), among other benefits.
What people are involved and what are they called?
What do you call the person doing the referring? What’s the right term for someone who was referred to your brand? And who – or what, exactly – is a referral? This section will help you differentiate between the many terms used for people involved in referral programs.
Customer
Your customers are all the people who have purchased your products, whether they have participated in your referral program or not. After they refer friends to you in any way, your customers become your advocates.
Referrer / member / advocate
A referrer (also called a member or advocate) is a customer who recommends your brand to others through a referral program or other referral marketing method.
Friend / referral
A friend or referral is anyone who was referred to your brand by another person, regardless of whether they’ve made a purchase or not.
Referred customer
Someone who was referred to your brand by someone else, who ultimately became your customer (made a purchase or signed up for a trial) as a result of the referral.
Referral
A person that someone else referred to your brand. Some businesses use “referral” only of referred customers who have made a purchase. Others will call any referred friend a “referral,” whether they’ve made a purchase or not. Either usage is correct, but make sure you stay consistent to avoid confusion.
Any act of recommending a brand to a friend, and the written or verbal message used to perform this action.
Growth and social dynamics
Referral programs that follow best practices can help increase a brand’s reputation through the opinions of others, and even lead to virality. This section will define phrases connected with growth and social dynamics, including how they are connected to referrals.
Viral growth / virality
When a brand or product “goes viral” and attracts loads of new customers in a short time, all thanks to consistent customer sharing, that’s viral growth or virality. Unlike word-of-mouth, viral growth is carefully engineered through a series of calculated steps. These include creating a product that is worth sharing; understanding what will drive customers to share; integrating user experience “hooks” that show how the product will solve their problem, and then turn the use of the product into a habit; combining viral mechanics with a value proposition; and motivating customers to share through an enticing referral program or other method.
Viral loop
A structure in which customers share a product or service with their friends, who then become customers who refer their own friends through the same mechanism. Building a consistent viral loop leads to viral growth. Creating a referral program with enticing rewards for both referrer and friend, and with automatic prompts for customers to refer, promotes the formation of a reliable viral loop.
Social proof
According to the social proof phenomenon, people watch what other people say, do, and purchase to decide on their own best action, then copy the actions of others. More often than you realize, people buy products based on the opinion of others, because then those products are backed by social proof.
The amount of social proof in favor of a brand is determined by how many people trust that brand. The more people flock around a specific brand or product, the greater the social proof that brand or product has. But a brand’s social proof also looks stronger to a given person if a friend or close peer already trusts that brand.
Referral programs can help your brand increase its social proof. A referral is more likely to think of you as a reputable brand, since their friend recommended you directly.
Social currency
The social currency of a person measures how “cool” they look on social media, based on the judgment of their friends and peers. People share what they think will make them look good, in hopes of increasing their personal social currency.
Similarly, the social currency of a brand measures how well a brand fits into consumers’ social lives, especially digitally. Essentially, it shows how “cool” the public thinks a brand is, and how likely they are to share the brand with others. A brand’s influence and presence on social networks and offline, and the degree to which that brand is shared by its customers, determine its social currency. A person won’t “spend” their own social currency on a brand that they believe will make them look bad. They’ll only shell out their social currency on a brand they think will help their own reputation.
When a person recommends your brand to their friends through a referral program, the friends trust your brand because their peer “spent” social currency on your brand when they shared it. So, the friends are more likely to “spend” their own social currency on your brand.
Referral program elements
Time to define the nuts and bolts of referral programs, from CTAs to referral links.
Referral code
A referral code is a unique combination of numbers, letters, or both, which is used as an identifier in a referral program. This code lets brands track the origin of a given referral – exactly which unique customer made the referral—and links the referrer with the friend. If the referral program involves an incentive, the code tracks which person has earned the incentive, so they can receive their reward. Sometimes, a referral code stands on its own; other times, this identifier is embedded in a referral link.
Referral link
A referral link is a unique link assigned to a referrer after they sign up for a referral program, designed for the referrer to easily share with friends. Referrers may share the link on its own, or it may be added automatically when they share a referral message via email or social media. The link instantly directs friends to a referral landing page, or trigger a pop-up that displays the friend offer.
A referral link tracks the origin of each referral (allows a company to see who has shared the business) and lets the company identify which leads come in from those shares. It also lets businesses easily determine which referrers have earned rewards.
Referral email
This promotional email is sent to loyal customers, and comes from the company that runs the referral program. It advertises a referral program and invites customers to refer their friends. (This email differs greatly from a referral message, which is sent to the friend on behalf of the referrer.)
Referral message
The message sent through a company’s referral program, from the referrer to their friend. It encourages the friend to make a purchase because it carries the referrer’s name and recommendation. This message could be sent via email, social media, text message, or through another form of communication. It could be prewritten or personalized by the referrer.
Referral page / landing page
The page on your website that your customers use to send referrals to their friends. The best referral pages contain an enticing incentive (or intrinsic reward), clear instructions for referring friends, and a concise, eye-catching call-to-action.
Call to action (CTA)
The call-to-action (CTA) is a concise but catchy slogan—the text that’s easiest to find on a referral page—that piques a customer’s interest. It quickly summarizes what you want your customer to do (refer a friend to your company) and what they’ll get out of it (any customer incentive that you’re offering, or any intrinsic reward that comes with sharing). CTAs capture customers’ attention and pique their interest in your referral program, without overwhelming them.
Pop-ups
Instead of using a full referral page, some companies use a pop-up to promote their website’s referral program. A pop-up is a window that suddenly appears over the main webpage content, made to look like its own window or like its own page on the screen. It always asks the visitor to perform an action (with a referral pop-up, that desired action is to refer a friend to your brand). Just like with a referral page, the best referral pop-ups have clear instructions for referring friends, a concise, eye-catching call to action, and a convincing incentive or intrinsic reward.
Referral FAQ
An area of the referral page (or standalone page that the referral page links to) that answers common questions about your referral program. A referral FAQ lets customers know what to expect, including terms and conditions, so it makes the referral process as frictionless as possible.
Friend landing page
The friend landing page is where a referrer’s friend “lands” after clicking on a referral link. It displays the friend offer, and contains a call-to-action button that directs friends to a product page. The page’s goal is to entice friends to make a purchase.
Referral incentives
Choosing the right types of incentives can make or break your referral program. Let’s examine the terms related to referral program incentives.
Incentives
The rewards that a referral program offers, meant to motivate your customers and convince them to participate in your referral program. Types of referral program incentives include discounts, gift cards, free products, branded swag, store credits, and cash.
Cumulative incentives
Incentives that repeatedly reward referrers for each successful referral. (e.g., “Get $10 for every friend you refer!) Since they give the opportunity to earn credits, gift cards, free products, or discount coupons for every friend a customer refers, cumulative incentives provide motivation for customers to keep referring their friends. When store credits or gift cards are used as cumulative referral incentives, these incentives “stack,” so a customer can use all the credits they’ve accumulated at once, on a single purchase.
Tiered incentives
In a tiered incentive system, the rewards a customer can earn change based on the number of referrals made, with rewards increasing in value as the customer successfully refers more friends. When a customer refers a certain number of friends, they’re allowed to advance to the next “tier” of the rewards system, and start earning more valuable rewards. For example, a participant may earn $10 each for the first 3 referrals, and then $20 for each referral after that.
Double-sided incentives / dual-sided incentives / two-sided incentives
Referral program incentives that reward both the referrer and the friend, giving the customer motivation to share with interested friends, and the friend motivation to make a purchase. (e.g., $25 for you, $25 for your friends.)
One-sided incentives / single-sided incentives
Referral program incentives that only reward the referrer or that only reward the friend.
Referral offer / referral reward
The incentive offered for a customer who refers a friend to your business. Usually, it is earned after the friend makes a purchase or signs up for a service.
The detailed explanation of referral program incentives, including what conditions must be met to earn them.
Friend offer
The incentive used to entice the referred friend to make a purchase.
Payouts
The ways in which earned incentives are distributed, whether via an automated system or manually.
Referral program tracking
Any term related to measuring the success of a referral program with data falls into the tracking category.
Tracking
The tracing of which customers are referring their friends, how often they make referrals, and which friends ultimately convert (make a purchase.) Tracking enables businesses to monitor how well a referral program is achieving certain goals, using measurable data.
Metrics that can be tracked include the number of referrals made, the number of unique referrers, the participation rate, the share rate, the conversion rate, ROI, and customer satisfaction. Referral codes and referral links enable easy tracking, as they connect each initiated referral, and each successful referral, with a specific customer.
Participation rate
The percentage of total customers who refer their friends through a referral program.
Share rate
The number of times customer advocates send referral messages to their friends (or share a referral code or link).
Referral rate
Referral rate is the percentage of total purchases made by referrals. It is the number of referrals’ purchases divided by the number of total purchases made by all customers.
Conversion
Conversion occurs when your customer (or potential customer) performs a desired action. In the context of referral programs, conversion occurs when a referred friend purchases a product or service from your business.
Conversion rate
The percentage of referred friends who ultimately make a purchase.
To find conversion rate, divide the number of referrals who actually make a purchase by the total number of referred friends.
Customer lifetime value (CLV)
Customer lifetime value, or CLV, is the total profit that a business can make from a particular customer. Referred customers have a higher CLV because their trust in their friends’ recommendations leads them to remain customers for a longer period, and make more purchases from the brand overtime.
ROI
Return on investment; the profit your referral program brings in (sales generated as a result of your referral program), minus the costs associated with setting up the referral program. Referral programs usually generate high ROI because referred customers have a higher customer lifetime value, which offsets the cost of setting up the program.
Related referral marketing terms
These terms aren’t directly involved with referral programs, but they’re closely related enough for us to include here (several define other distinct categories of referral marketing). Defining these terms helps alleviate some of the confusion about what is and isn’t a referral program.
Advocate marketing / advocacy marketing
Marketing that encourages a brand’s most satisfied existing customers to positively spread the word about the brand through testimonials, recommendations, social media posts, and conversations. Advocate marketing directly feeds into word-of-mouth marketing. It starts out organically (satisfied customers share your brand without prompting), but is often assisted through the use of small incentives, such as public recognition and branded swag.
Partner programs
Partner programs reward third-party vendors for promoting or selling another business’s product or service with cash, advertising, and/or recognition. Typically, a business must go through a rigorous process to become a partner, including certification and training.
Influencer marketing
Influencer marketing occurs when people with high authority in a field, or among a particular audience, promote a brand on their social media account or blog. Influencers always have a strong reputation, with followers who trust them highly. They aren’t always celebrities or people with tens of thousands of followers (although celebrities are the most well-known examples of influencers).
Influencers typically have a sway over the things their followers buy. They influence by example, more so than using word of mouth to explain why someone should buy the product. Influencers only promote products for short periods of time, and might not have a history of using the product before the campaign. Still, the best influencers only promote products they like, that they think their audience would also enjoy.
Brand ambassadors / ambassadors
Brand ambassadors are people who talk about your brand in the long term because they love your brand, believe in your mission, regularly use your products or services, and want to see your brand succeed.
Brand ambassadors enter a relationship with your brand, and agree to continually promote your brand through social media posts, at events, at trade shows, and through networking. Although they may receive incentives through a brand ambassador program, ambassadors often promote your brand without rewards or prompting. Ambassadors never push the products they represent, but simply tell others why they love the products in unscripted, personal conversations. They are the faces and voices of a brand.
Affiliate programs / affiliate marketing
In an affiliate marketing program, bloggers, social media figures, marketers and other sales leaders enter an agreement with a company to place links to products on their blog or website. The brands give commission payments (usually cash) to these people, known as affiliates, for sales they generate through the links, known as affiliate links. Affiliate marketing differs from referral marketing because the people who click the links aren’t necessarily friends or peers of the affiliate. Plus, the affiliate’s goal is to generate as much revenue as possible, not to share with friends they think might enjoy the product.
Relationship marketing
Relationship marketing is marketing designed to foster customer loyalty, interaction and long-term engagement. Instead of focusing on short-term goals like customer acquisition and individual sales, relationship marketing aims at developing strong emotional connections between consumers and a brand. It achieves this by providing them with information directly suited to their needs and interests, and by promoting open communication. The loyalty fostered through relationship marketing feeds into other marketing types like word of mouth marketing and referral marketing, because loyal, satisfied customers are more likely to spread the word.
In conclusion
Hopefully, this referral program glossary has helped you answer some of your questions about referral marketing terms. This glossary is meant to be a living document, so if there are any common referral terms and definitions we missed, please let us know. If you’re looking for more marketing terms, make sure to check out our post on marketing jargon.
Interested in starting a referral program of your own? Check out our referral program template.
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>
