<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refer Now!</title>

    <style>
   .contact-item:hover {
      background-color: rgb(166, 199, 255);
      cursor: pointer;
   }
   
   @media screen and (max-width: 593px) {
    .number-container {
        position: relative;
        top: -20px;
      }

      .guide-list li {
        width: 94%;
        margin-top: 45px;
        margin-right: 14%;
      }

      .guide-list {
        box-sizing: border-box;
      }

      .ci1 {
        width: 212px;
        margin-right: 0;
      }

      .ci2 {
        padding: 0;
          width: 125px;
          margin: auto;
          margin-left: 0;
      }

      .contact-list li{
          position: relative;
          right: 2%;
      }
   }
    </style>

</head>
<body>
    <section class="hero-section">
        <div class="hero-image-container">
            <img src="./../../assets/images/image 5.png" alt="">
        </div>

        <p class="hero-title">
            {{user_name}} {{user_last_name}} <br> wanted to refer&nbsp;you
        </p>

        <div class="review-div">
            <div class="google-logo-container">
                <img class="google-logo" src="./../../assets/images/image 3.png" alt="">
            </div>

            <button class="btn review-btn">
                See {{user_name}}'s review
            </button>
        </div>

    </section>

    <section class="contacts-section">
        <p class="contacts-title">
            Company contacts
        </p>

        <ul class="contact-list">
            <li class="contact-item">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path opacity="0.5" d="M2.16699 12H22.167M16.167 12C16.167 13.3132 16.0635 14.6136 15.8625 15.8268C15.6615 17.0401 15.3669 18.1425 14.9954 19.0711C14.624 19.9997 14.183 20.7362 13.6977 21.2388C13.2124 21.7413 12.6923 22 12.167 22C11.6417 22 11.1216 21.7413 10.6363 21.2388C10.151 20.7362 9.71 19.9997 9.33856 19.0711C8.96713 18.1425 8.67249 17.0401 8.47147 15.8268C8.27046 14.6136 8.16699 13.3132 8.16699 12C8.16699 10.6868 8.27046 9.38642 8.47147 8.17316C8.67249 6.95991 8.96713 5.85752 9.33857 4.92893C9.71 4.00035 10.151 3.26375 10.6363 2.7612C11.1216 2.25866 11.6417 2 12.167 2C12.6923 2 13.2124 2.25866 13.6977 2.76121C14.183 3.26375 14.624 4.00035 14.9954 4.92893C15.3669 5.85752 15.6615 6.95991 15.8625 8.17317C16.0635 9.38642 16.167 10.6868 16.167 12Z" stroke="#4563FF" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M22.167 12C22.167 13.3132 21.9083 14.6136 21.4058 15.8268C20.9032 17.0401 20.1666 18.1425 19.2381 19.0711C18.3095 19.9997 17.2071 20.7362 15.9938 21.2388C14.7806 21.7413 13.4802 22 12.167 22C10.8538 22 9.55341 21.7413 8.34016 21.2388C7.1269 20.7362 6.02451 19.9997 5.09592 19.0711C4.16734 18.1425 3.43074 17.0401 2.9282 15.8268C2.42565 14.6136 2.16699 13.3132 2.16699 12C2.16699 10.6868 2.42565 9.38642 2.9282 8.17316C3.43074 6.95991 4.16734 5.85752 5.09593 4.92893C6.02451 4.00035 7.1269 3.26375 8.34016 2.7612C9.55341 2.25866 10.8538 2 12.167 2C13.4802 2 14.7806 2.25866 15.9938 2.76121C17.2071 3.26375 18.3095 4.00035 19.2381 4.92893C20.1666 5.85752 20.9032 6.95991 21.4058 8.17317C21.9083 9.38642 22.167 10.6868 22.167 12L22.167 12Z" stroke="#4563FF" stroke-width="1.5"/>
                      </svg>
                </div>
    
                <p class="contact-content">
                    {{company_site_address}}
                </p>
            </li>

            <li class="contact-wrapper">
              <div class="contact-item ci1">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M5.00684 6.93309C5.04981 5.7996 5.70109 4.77423 6.53809 3.93723C7.93104 2.54428 10.1535 2.73144 11.0379 4.31617L11.6869 5.4791C12.2726 6.52858 12.0375 7.90533 11.115 8.8278M17.0672 18.9934C18.2007 18.9505 19.2261 18.2992 20.0631 17.4622C21.456 16.0692 21.2688 13.8468 19.6841 12.9624L18.5212 12.3134C17.4717 11.7277 16.095 11.9628 15.1725 12.8853" stroke="#4563FF" stroke-width="1.5"/>
                        <path opacity="0.5" d="M5.00655 6.93311C4.93421 8.84124 5.41713 12.0817 8.6677 15.3323C11.9183 18.5829 15.1588 19.0658 17.0669 18.9935M15.1722 12.8853C15.1722 12.8853 14.0532 14.0042 12.0245 11.9755C9.99578 9.94676 11.1147 8.82782 11.1147 8.82782" stroke="#4563FF" stroke-width="1.5"/>
                      </svg>
                </div>
    
                <p class="contact-content">
                  +44&nbsp;7123&nbsp;456789
                </p>
            </div>

            <div class="contact-item ci2">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M12.332 17V11" stroke="#4563FF" stroke-width="1.5" stroke-linecap="round"/>
                        <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11.332 9)" fill="#4563FF"/>
                        <path opacity="0.5" d="M2.33203 12C2.33203 7.28595 2.33203 4.92893 3.7965 3.46447C5.26096 2 7.61799 2 12.332 2C17.0461 2 19.4031 2 20.8676 3.46447C22.332 4.92893 22.332 7.28595 22.332 12C22.332 16.714 22.332 19.0711 20.8676 20.5355C19.4031 22 17.0461 22 12.332 22C7.61799 22 5.26096 22 3.7965 20.5355C2.33203 19.0711 2.33203 16.714 2.33203 12Z" stroke="#4563FF" stroke-width="1.5"/>
                      </svg>
                </div>
    
                <p class="contact-content">
                    vCard
                </p>
            </div>
            </li>
           
        </ul>
    </section>

    <section class="detail-section">
        <p class="detail-pretitle">
            Program details
        </p>

        <p class="detail-title">
            Get 3 freinds to join by {{d_month}} {{d_day}} <br> and get up to ${{bonus}} bonus.
        </p>

        <ul class="guide-list">
            
            <li>
                <div class="number-container">
                  <p class="number">
                    01
                  </p>
                    
                </div>

                <!-- <div class="guide-wrapper"> -->
                    <div class="guide-container">
                        <div class="guide-icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                                <path opacity="0.5" d="M33.3035 6.91016C33.3035 6.91016 33.4657 9.66762 35.8987 12.1007C38.3318 14.5337 41.0893 14.6959 41.0893 14.6959M20.1994 31.1752L16.8242 27.8" stroke="url(#paint0_linear_92_1410)" stroke-width="3"/>
                                <path d="M33.3041 6.91012L34.6017 5.61249C36.7517 3.4625 40.2375 3.4625 42.3875 5.61249C44.5375 7.76248 44.5375 11.2483 42.3875 13.3983L41.0899 14.6959L29.1601 26.6256C28.3521 27.4337 27.9481 27.8377 27.5026 28.1851C26.9771 28.595 26.4086 28.9464 25.807 29.2331C25.297 29.4762 24.7549 29.6569 23.6709 30.0182L20.2 31.1752L17.9542 31.9238C17.4207 32.1016 16.8325 31.9628 16.4349 31.5651C16.0372 31.1675 15.8984 30.5793 16.0762 30.0458L16.8248 27.8L17.9818 24.3291C18.3431 23.2451 18.5238 22.703 18.7669 22.193C19.0536 21.5914 19.405 21.0229 19.8149 20.4974C20.1623 20.0519 20.5663 19.6479 21.3744 18.8399L33.3041 6.91012Z" stroke="url(#paint1_linear_92_1410)" stroke-width="3"/>
                                <path opacity="0.5" d="M44 24C44 35.0457 35.0457 44 24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4" stroke="url(#paint2_linear_92_1410)" stroke-width="3" stroke-linecap="round"/>
                                <defs>
                                  <linearGradient id="paint0_linear_92_1410" x1="40.3905" y1="31.1752" x2="13.9721" y2="26.4914" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#4563FF"/>
                                    <stop offset="1" stop-color="#58AFFF"/>
                                  </linearGradient>
                                  <linearGradient id="paint1_linear_92_1410" x1="43.1937" y1="32" x2="12.7089" y2="26.5953" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#4563FF"/>
                                    <stop offset="1" stop-color="#58AFFF"/>
                                  </linearGradient>
                                  <linearGradient id="paint2_linear_92_1410" x1="42.8482" y1="44" x2="-0.701572" y2="36.279" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#4563FF"/>
                                    <stop offset="1" stop-color="#58AFFF"/>
                                  </linearGradient>
                                </defs>
                              </svg>    
                        </div>
                        
                          <div class="guide-title">
                            Sign Up
                          </div>
    
                          <p class="guide-paragraph">
                            Get 3 freinds to join by {{d_month}} {{d_day}} <br>
                            and get up to ${{bonus}} bonus.
                          </p>
                    </div>
                <!-- </div> -->
                
            </li>

            <li>
                <div class="number-container">
                  <p class="number">02</p>
                    
                </div>

                <div class="guide-container">
                    <div class="guide-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                            <path opacity="0.4" d="M35.25 42.0003C36.5332 40.8597 38.4668 40.8597 39.75 42.0003C40.6218 42.7753 42 42.1564 42 40.9899V7.01038C42 5.84392 40.6218 5.22503 39.75 5.99998C38.4668 7.14058 36.5332 7.14058 35.25 5.99998C33.9668 4.85938 32.0332 4.85938 30.75 5.99998C29.4668 7.14058 27.5332 7.14058 26.25 5.99998C24.9668 4.85938 23.0332 4.85938 21.75 5.99998C20.4668 7.14058 18.5332 7.14058 17.25 5.99998C15.9668 4.85938 14.0332 4.85938 12.75 5.99998C11.4668 7.14058 9.53317 7.14058 8.25 5.99998C7.37818 5.22503 6 5.84392 6 7.01038V40.9899C6 42.1564 7.37818 42.7753 8.25 42.0003C9.53317 40.8597 11.4668 40.8597 12.75 42.0003C14.0332 43.1409 15.9668 43.1409 17.25 42.0003C18.5332 40.8597 20.4668 40.8597 21.75 42.0003C23.0332 43.1409 24.9668 43.1409 26.25 42.0003C27.5332 40.8597 29.4668 40.8597 30.75 42.0003C32.0332 43.1409 33.9668 43.1409 35.25 42.0003Z" stroke="url(#paint0_linear_92_1416)" stroke-width="3"/>
                            <path d="M15 31H33M15 24H33M15 17H33" stroke="url(#paint1_linear_92_1416)" stroke-width="3" stroke-linecap="round"/>
                            <defs>
                              <linearGradient id="paint0_linear_92_1416" x1="33.8999" y1="40.4987" x2="0.580048" y2="10.9308" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                              <linearGradient id="paint1_linear_92_1416" x1="33.5" y1="31" x2="12.975" y2="17.1125" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                            </defs>
                          </svg>
                    </div>
                    
                      <div class="guide-title">
                        Purchase
                      </div>

                      <p class="guide-paragraph">
                        Get 3 freinds to join by {{d_month}} {{d_day}} <br>
                        and get up to ${{bonus}} bonus.
                      </p>
                </div>
            </li>

            <li>
                <div class="number-container">
                    <p class="number">
                      03
                    </p>
                </div>

                <div class="guide-container">
                    <div class="guide-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                            <circle cx="24" cy="12" r="8" stroke="#1C274C" stroke-width="2.5"/>
                            <circle cx="24" cy="12" r="8" stroke="url(#paint0_linear_92_1422)" stroke-width="2.5"/>
                            <circle cx="34" cy="36" r="8" stroke="#1C274C" stroke-width="2.5"/>
                            <circle cx="34" cy="36" r="8" stroke="url(#paint1_linear_92_1422)" stroke-width="2.5"/>
                            <path d="M31.332 35.9999L32.999 37.9999L36.6654 34.2222" stroke="#1C274C" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M31.332 35.9999L32.999 37.9999L36.6654 34.2222" stroke="url(#paint2_linear_92_1422)" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <g opacity="0.5">
                              <path d="M28 41.6687C26.7326 41.8843 25.3899 42 24 42C16.268 42 10 38.4183 10 34C10 29.5817 16.268 26 24 26C27.427 26 30.5665 26.7036 33 27.8719" stroke="#1C274C" stroke-width="2.5"/>
                              <path d="M28 41.6687C26.7326 41.8843 25.3899 42 24 42C16.268 42 10 38.4183 10 34C10 29.5817 16.268 26 24 26C27.427 26 30.5665 26.7036 33 27.8719" stroke="url(#paint3_linear_92_1422)" stroke-width="2.5"/>
                            </g>
                            <defs>
                              <linearGradient id="paint0_linear_92_1422" x1="31.5393" y1="20" x2="14.1194" y2="16.9116" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                              <linearGradient id="paint1_linear_92_1422" x1="41.5393" y1="44" x2="24.1194" y2="40.9116" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                              <linearGradient id="paint2_linear_92_1422" x1="36.5118" y1="37.9999" x2="30.8757" y2="36.5893" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                              <linearGradient id="paint3_linear_92_1422" x1="32.3377" y1="42" x2="8.08477" y2="35.819" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                            </defs>
                          </svg>
                    </div>
                    
                      <div class="guide-title">
                        Refer friends
                      </div>

                      <p class="guide-paragraph">
                        Get 3 freinds to join by {{d_month}} {{d_day}} <br>
                        and get up to ${{bonus}} bonus.
                      </p>
                </div>
            </li>

            <li>
                <div class="number-container">
                    <p class="number">
                      03
                    </p>
                </div>

                <div class="guide-container">
                    <div class="guide-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                            <path opacity="0.5" d="M44 24H4M24 4V44" stroke="url(#paint0_linear_92_1428)" stroke-width="3" stroke-linecap="round"/>
                            <path d="M26 23.9999C26 28.4182 29.5817 31.9999 34 31.9999M22 23.9999C22 28.4182 18.4183 31.9999 14 31.9999M24 23.9999H27.9298C30.9096 23.9999 33.507 21.972 34.2297 19.0812C35.0316 15.8737 32.1262 12.9684 28.9188 13.7702C26.028 14.4929 24 17.0903 24 20.0701M24 23.9999V20.0701M24 23.9999H20.0694C17.0896 23.9999 14.4922 21.972 13.7695 19.0812C12.9676 15.8737 15.873 12.9684 19.0804 13.7702C21.9712 14.4929 24 17.0903 24 20.0701" stroke="url(#paint1_linear_92_1428)" stroke-width="3"/>
                            <path d="M4 24C4 14.5719 4 9.85786 6.92893 6.92893C9.85786 4 14.5719 4 24 4C33.4281 4 38.1421 4 41.0711 6.92893C44 9.85786 44 14.5719 44 24C44 33.4281 44 38.1421 41.0711 41.0711C38.1421 44 33.4281 44 24 44C14.5719 44 9.85786 44 6.92893 41.0711C4 38.1421 4 33.4281 4 24Z" stroke="url(#paint2_linear_92_1428)" stroke-width="3"/>
                            <defs>
                              <linearGradient id="paint0_linear_92_1428" x1="34.9999" y1="41.4999" x2="-0.500002" y2="8.5" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                              <linearGradient id="paint1_linear_92_1428" x1="23.7008" y1="23.9999" x2="12.4165" y2="21.9993" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                              <linearGradient id="paint2_linear_92_1428" x1="42.8482" y1="44" x2="-0.701572" y2="36.279" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#4563FF"/>
                                <stop offset="1" stop-color="#58AFFF"/>
                              </linearGradient>
                            </defs>
                          </svg>
                    </div>
                    
                      <div class="guide-title">
                        Holiday
                      </div>

                      <p class="guide-paragraph">
                        Get 3 freinds to join by {{d_month}} {{d_day}} <br>
                        and get up to ${{bonus}} bonus.
                      </p>
                </div>
            </li>
        </ul>

        <button class="btn signup-btn">
            Sign Up
        </button>
    </section>
</body>
</html>
<router-outlet></router-outlet>